.register-form {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.register-card {
    border: 2px solid black;
    margin: 20px;
    padding: 30px;
    position: relative;
}

.register-card > form > input {
    margin: 20px 0px;
    font-size: 16px;
    width: 220px;
}

i{
    position: absolute;
    left: 35px;
    transform: translateY(-5px);
    font-size: 18px;
    animation: ani 2s alternate;
}

@keyframes ani {
    0%{
        transform: translateY(23px);
    }
    100%{
        transform: translateY(-5px);
    }
}

a {
    display: block; /* Added to make the link a block-level element */
    text-align: left;
    margin-bottom: 15px; /* Adjusted margin for better spacing */
}

button {
    width: 100%;
    font-size: 19px;
    background-color: #093e9b;
    border: none;
    padding: 10px;
    color: #fff;
}

button:hover {
    /* background-color: #86A7FC; */
    background-color: #3468C0;
}

.link{
    margin-top: 20px;
}